!.gitignore
!/**/.gitkeep

core*
home-assistant*

/www/
!/www/custom-lovelace/
!/www/community/

/lovelace/99_test_view.yaml
/lovelace/links_card.yaml
/packages/test_package.yaml
/packages/persons/

/appdaemon/appdaemon.yaml
/appdaemon/compiled
/appdaemon/apps/security/


# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Ignore Extensions
*.db
*.old
*.log
*.conf
*.HA_VERSION
*.db-shm
*.db-wal
*.crt
*.csr
*.key
*.pem
*.pid
*.xml


# Ignore Folders
/.*/
!/.github/
#
/deps/
/gh-pages/
/img_sources/
/tts/
/zones/


# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
security.yaml
known_devices.yaml
alarm_control_panel.yaml
emulated_hue_ids.json
security_automations.yaml
emergency_call.yaml
emergency_telegram.yaml
google_calendars.yaml

